In [4]:
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib.pyplot import subplots

In [5]:
df = pd.read_csv('APST.csv')

In [6]:
df.head()

,REGION,STORM_NO,NAME,ADVISORY,ADV_DATE,ADV_HOUR,SPEED,PRESSURE,TYPE,LAT,LONG
0,W,0,THIRTYSIX,0,2018-12-30,1800,30,0,D,111.0,6.6
1,W,0,THIRTYSIX,0,2018-12-30,1200,30,0,D,111.2,7.7
2,W,0,THIRTYFIVE,0,2018-12-29,1200,15,0,D,118.7,9.4
3,W,0,THIRTYFIVE,0,2018-12-29,600,20,0,D,119.3,9.2
4,W,0,THIRTYFIVE,0,2018-12-29,0,25,0,D,119.9,8.8

In [7]:
df['NAME'].unique()

array(['THIRTYSIX', 'THIRTYFIVE', 'PHETHAI', 'GAJA', 'LUBAN', 'TITLI',
       'MANGKHUT', 'BARIJAT', 'YAGI', 'LEEPI', 'BEBINCA', 'FOUR', 'IRIS',
       'HOLA', 'LINDA', 'GITA', 'JOYCE', '┬áMAN-YI', 'USAGI', 'TORAJI',
       'KENI', 'YUTU', 'SHANSHAN', 'AVA', 'IRVING', 'TRAMI', 'KONG-REY',
       'TWENTYNINE', 'EWINIAR', 'CEBILE', 'SIXTEEN', 'JEBI', 'SOULIK',
       'TWENTYFOUR', 'CIMARON', 'RUMBIA', 'DUMAZILE', 'JONGDARI',
       'WUKONG', 'SON-TINH', 'AMPIL', 'THIRTEEN', 'PRAPIROON', 'MALIKSI',
       'SEVEN', 'GAEMI', 'MEKUNU', 'SAGAR', 'FLAMBOYAN', 'FAKIR', 'JOSIE',
       'BOLAVEN', 'JELAWAT', 'NORA', 'MARCUS', 'ELIAKIM', 'KELVIN',
       'FEHI', 'BERGUITTA', 'HILDA', 'TEMBIN', 'KAI_TAK', 'HAIKUI',
       'KHANUN', 'DOKSURI', 'TALIM', 'BANYAN', 'MERBOK', 'ELLA', 'DAHLIA',
       'KIROGI', 'COOK', 'SAOLA', 'LAN', 'TWENTYSIX', 'TWENTYTWO',
       'TWENTYTHREE', 'DONNA', 'ONE', 'MAWAR', 'SANVU', 'PAKHAR', 'HATO',
       'NORU', 'HAITANG', 'NESAT', 'SONCA', 'KULAP', 'ROKE', 'TALAS',
       'GUCHOL', 'FOURTEEN', 'MORA', 'NALGAE', 'MUIFA', 'MAARUTHA', 'TWO',
       'NANMADOL', 'DEBBIE', 'DAMREY', 'EIGHT', 'BART', 'ALFRED', '30W',
       'VARDAH', 'NADA', 'OTTO', 'TOKAGE', 'TWENTYSEVEN', 'MEARI',
       'KYANT', 'HAIM', 'SARIKA', '25W', 'AERE', 'SONGDA', '23W', 'CHABA',
       'MEGI', 'MALAKAS', 'MERANTI', 'EIGHTEEN', 'RAI', 'SEVENTEEN',
       'NAMTHEUN', 'LIONROCK', '14W', 'MINDULLE', 'KOMPASU', 'DIANMU',
       'TEN', 'CHANTHU', 'CONSON', '08W', 'OMAIS', 'NIDA', 'MIRINAE',
       'LUPIT', 'ABELA', 'THREE', 'NEPARTAK', 'ROANU', 'AMOS', 'FANTALA',
       'ZENA', 'EMERAUDE', 'YALO', 'WINSTON', 'URIAH', 'TATIANA', 'DAYA',
       'STAN', 'CORENTIN', 'VICTOR', 'ULA', 'NINE', '29W', 'MELOR',
       'BOHALE', 'TUNI', 'IN_FA', 'ANNABELLE', 'MEGH', 'CHAPALA',
       'CHAMPI', '26W', 'KOPPU', 'CHOI_WAN', 'MUJIGAE', 'DUJUAN',
       'KROVANH', 'VAMCO', 'KILO', 'ETAU', 'GONI', 'ATSANI', 'MOLAVE',
       'SOUDELOR', 'HALOLA', 'TWELVE', 'NANGKA', 'CHAN_HOM', 'LINFA',
       'RAQUEL', 'KUJIRA', 'ASHOBAA', 'QUANG', 'DOLPHIN', 'NOUL', 'SOLO',
       'JOALANE', 'IKOLA', 'HAISHEN', 'MAYSAK', 'NATHAN', 'REUBEN',
       'BAVI', 'PAM', 'OLWYN', 'HALIBA', 'FIFTEEN', 'GLENDA', 'MARCIA',
       'LAM', 'HIGOS', 'FUNDI', 'OLA', 'EUNICE', 'DIAMONDRA', 'NIKO',
       'MEKKHALA', 'BANSI', 'CHEDZA', 'JANGMI', 'KATE', 'BAKUNG',
       'HAGUPIT', 'SINLAKU', 'ADJALI', 'FIVE', 'NURI', 'NILOFAR',
       'VONGFONG', 'HUDHUD', 'PHANFONE', 'KAMMURI', 'FUNG_WONG',
       'KALMAEGI', 'FENGSHEN', 'HALONG', 'NAKRI', 'MATMO', 'RAMMASUN',
       'NEOGURI', 'HAGIBIS', 'NANAUK', 'TAPAH', 'JACK', 'ITA', 'PEIPAH',
       'IVANOE', 'HELLEN', 'FAXAI', 'GILLIAN', 'MIKE', 'LUSI', 'HADI',
       'KOFI', 'GUITO', 'FOBANE', 'EDILSON', 'EDNA', 'KAJIKI', 'DYLAN',
       'LINGLING', 'JUNE', 'DELIWE', 'COLIN', 'IAN', 'BEJISA',
       'CHRISTINE', 'AMARA', 'BRUCE', 'MADI', 'THIRTY_THR', 'LEHAR',
       'ALESSIA', 'HELEN', 'THIRTY', 'PODUL', 'HAIYAN', 'KROSA', 'FITOW',
       'LEKIMA', 'FRANCISCO', 'WIPHA', 'NARI', 'PHAILIN', 'DANAS',
       'SEPAT', 'WUTIP', 'PABUK', 'MAN_YI', 'KONG_REY', 'PEWA', 'UNALA',
       'UTOR', 'MAHASEN', 'JAMALA', 'ZANE', 'SANDRA', 'RUSTY', 'GINO',
       'HALEY', 'FELLENG', 'GARRY', 'PETA', 'OSWALD', 'EMANG', 'SONAMU',
       'DUMILE', 'FREDA', 'BENILDE', 'MITCHELL', 'EVAN', 'CLAUDIA',
       'BOPHA', 'BOLDWIN', 'TWENTYFIVE', 'NILAM', 'SON_TINH', 'MURJAN',
       'MARIA', 'ANAIS', 'SANBA', 'VICENTE', 'TWENTYONE', 'KUENA',
       'NINETEEN', 'DAPHNE', 'LUA', 'KOJI', 'IRINA', 'HILWA', 'GIOVANNA',
       'JASMINE', 'CYRIL', 'IGGY', 'FUNSO', 'ETHEL', 'HEIDI', 'CHANDA',
       'THANE', 'GRANT', 'WASHI', 'ALENGA', 'KEILA', 'NOCK_TEN', 'MA_ON',
       'HAIMA', 'ERROL', 'TWENTY', 'BUNE', 'CHERONO', 'CARLOS', 'ATU',
       'DIANNE', 'BINGIZA', 'ZAKA', 'YASI', 'ANTHONY', 'BIANCA', 'WILMA',
       'ZELIA', 'VINCE', 'VANIA', 'TASHA', 'ABELE', 'JAL', 'ANGGREK',
       '17W', 'GIRI', 'FANAPI', 'MALOU', 'PHET', 'BANDU', 'LAILA', 'SEAN',
       'ROBYN', 'PAUL', 'IMANI', 'ULUI', 'TOMAS', 'HUBERT', 'SARAH',
       'GELANE', 'RENE', 'PAT', 'OLI', 'FAMI', 'OLGA', 'NISHA', 'ELEVEN',
       'MAGDA', 'EDZANI', 'DAVID', 'LAURENCE', 'MICK', 'WARD', 'CLEO',
       '28W', 'BONGANI', 'ANJA', 'PHYAN', 'IDA', 'NEKI', 'RICK',
       'PATRICIA', 'PARMA', 'HENRI', 'GRACE', 'OLAF', '18W', 'KETSANA',
       '19W', 'MARTY', 'FRED', 'ERIKA', 'JIMENA', 'DUJAUN', 'KEVIN',
       'DANNY', 'IGNACIO', 'BILL', 'GUILLERMO', 'MAKA', 'ANA',
       'CLAUDETTE', 'FELICIA', 'MORAKOT', 'ENRIQUE', 'LANA', 'DOLORES',
       'BLANCA', 'ANDRES', 'AILA', 'KIRRILY', 'BIJLI', 'JADE', 'LIN',
       'IZILDA', 'JASPER', 'ILSA', 'KEN', 'JONI', 'HAMISH', 'GABRIELLE',
       'HINA', 'INNIS', 'GAEL', 'FREDDY', 'ELLIE', 'HETTIE', 'DOMINIC',
       'FANELE', 'ERIC', 'DONGO', 'CHARLOTTE', 'BILLY', 'CINDA', 'ANIKA',
       'KHAI_MUK', 'PALOMA', 'POLO', 'RASHMI', 'SEVENTEEN_E', 'ASMA',
       'TWENTYTHRE', 'OMAR', 'NANA', 'ODILE', 'NORBERT', 'MARCO', 'MARIE',
       'LAURA', 'KYLE', 'IKE', 'LOWELL', 'HANNA', 'JOSEPHINE', 'GUSTAV',
       'KARINA', 'FAY', 'JULIO', 'ISELLE', '11W', 'HERNAN', 'KIKA',
       'EDOUARD', 'GENEVIEVE', 'DOLLY', 'CRISTOBAL', 'FAUSTO', 'BERTHA',
       'ELIDA', '05E', 'DOUGLAS', 'BORIS', 'CRISTINA', 'ARTHUR', 'ALMA',
       'ROSIE', 'DURGA', 'NARGIS', '27P', 'PANCHO', 'LOLA', '24P',
       'JOKWE', 'KAMBA', 'OPHELIA', '20P', 'HONDO', 'NICHOLAS', 'IVAN',
       '17S', 'GENE', 'GULA', 'FAME', 'FUNA', '01W', 'ELISA', 'ELNUS',
       'MELANIE', 'DAMA', 'CELINA', 'DAMAN', 'MITAG', 'BONGWE', 'GUBA',
       'LEE_ARIEL', 'SIDR', 'NOEL', '05A', 'KIKO', 'JULIETTE', 'MELISSA',
       'KAREN', '14E', 'LORENZO', 'JERRY', 'IVO', 'THIRTEEN_E', '12E',
       'INGRID', 'HUMBERTO', 'HENRIETTE', 'FELIX', 'GIL', 'ELEVEN_E',
       '(10W)', '10E', 'DEAN', 'ERIN', 'FLOSSIE', '(09W)', '09E', '06W',
       'ERICK', 'CHANTAL', '01S', 'DALILA', 'COSME', 'FOUR_E', '04B',
       '03B', 'THREE_E', 'GONU', 'BARRY', 'BARBARA', 'ALVIN', 'PIERRE',
       'AKASH', 'ANDREA', 'CLIFF', 'JAYA', 'BECKY', 'KARA', 'INDLADA',
       'JACOB', 'GEORGE', 'GAMEDE', 'HUMBA', 'FAVIO', 'ENOK', 'DORA',
       '11P', 'ZITA', 'CLOVIS', 'ISOBEL', 'BONDO', 'DURIAN', 'ANITA',
       '04P', 'YANI', 'SERGIO', 'CHEBI', 'ROSA', 'XAVIER', 'NORMAN',
       'OLIVIA', 'ISAAC', 'XANGSANE', '05B', 'HELENE', 'GORDON', 'MUKDA',
       'FLORENCE', 'LANE', 'KRISTY', 'IOKE', 'JOHN', 'ERNESTO', 'DEBBY',
       'ILEANA', 'HECTOR', 'SAOMAI', 'CHRIS', 'FABIO', 'GILMA', 'EMILIA',
       'DANIEL', 'KAEMI', 'BERYL', 'unnamed', 'CARLOTTA', 'BUD', 'BILIS',
       'ALBERTO', 'ALETTA', 'CHANCHU', 'MALA', 'MONICA', 'ELIA', 'ZETA',
       'EPSILON', 'DELTA', 'GAMMA', 'BETA', 'ALPHA', 'TAMMY', 'SUBTROP',
       'KENNETH', 'NORMA', 'RITA', 'JOVA', 'PHILIPPE', 'MAX', 'NATE',
       'NABI', 'LEE', 'KATRINA', 'IRWIN', 'HILARY', 'JOSE', 'IRENE',
       'FERNANDA', 'GREG', 'HARVEY', 'MATSA', 'ONE_C', 'FRANKLIN', 'GERT',
       'EMILY', 'EUGENE', 'DENNIS', 'CINDY', 'BRET', 'CALVIN', 'BEATRIZ',
       'ARLENE', 'ADRIAN', 'ADELINE_JULI', 'ISANG', 'PERCY', 'HENNIE',
       'WILLY', 'RAE', 'NANCY', 'VIVIENNE', 'MEENA', 'GERARD', 'TIM',
       'ERNEST', 'DAREN', '10S', '02B', 'KERRY', '01B', 'SALLY',
       'RAYMOND', 'CHAMBO', 'AGNI', 'BENTO', 'AROLA', '04A', 'SIXTEEN_E',
       'LESTER', 'MATTHEW', 'NICOLE', 'KAY', 'LISA', '03A', 'JEANNE',
       'KARL', 'JAVIER', 'ISIS', 'FRANCES', 'HOWARD', 'PHOEBE', 'GASTON',
       'HERMINE', 'GEORGETTE', 'FRANK', 'ESTELLE', 'DANIELLE', 'CHARLEY',
       'EARL', 'BONNIE', 'RANANIM', 'ALEX', 'SIX_E', 'DARBY', 'TINGTING',
       'CELIA', 'BLAS', '01A', '23S', 'AGATHA', '05W', 'JUBA', 'SUDAL',
       '22P', 'MONTY', 'OSCAR_ITSENG', '02W', 'NICKY_HELMA', 'GAFILO',
       'ELITA', 'IVY', 'HETA', 'DARIUS'], dtype=object)

In [12]:
pip install basemap

Collecting basemap
  Obtaining dependency information for basemap from https://files.pythonhosted.org/packages/87/91/8c050325bb13df8b95bc7c1dec9e275babb76d50af862719d79050e5ca8f/basemap-1.3.8-cp311-cp311-manylinux1_x86_64.whl.metadata
  Downloading basemap-1.3.8-cp311-cp311-manylinux1_x86_64.whl.metadata (7.7 kB)
Requirement already satisfied: basemap-data<1.4,>=1.3.2 in /home/kaye/anaconda3/lib/python3.11/site-packages (from basemap) (1.3.2)
Collecting pyshp<2.4,>=1.2 (from basemap)
  Downloading pyshp-2.3.1-py2.py3-none-any.whl (46 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 46.5/46.5 kB 311.7 kB/s eta 0:00:00 kB/s eta 0:00:01:01
Requirement already satisfied: matplotlib<3.8,>=1.5 in /home/kaye/anaconda3/lib/python3.11/site-packages (from basemap) (3.7.2)
Collecting pyproj<3.7.0,>=1.9.3 (from basemap)
  Obtaining dependency information for pyproj<3.7.0,>=1.9.3 from https://files.pythonhosted.org/packages/64/90/dfe5c00de1ca4dbb82606e79790659d4ed7f0ed8d372bccb3baca2a5abe0/pyproj-3.6.1-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata
  Downloading pyproj-3.6.1-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (31 kB)
Requirement already satisfied: numpy<1.26,>=1.21 in /home/kaye/anaconda3/lib/python3.11/site-packages (from basemap) (1.24.3)
Requirement already satisfied: contourpy>=1.0.1 in /home/kaye/anaconda3/lib/python3.11/site-packages (from matplotlib<3.8,>=1.5->basemap) (1.0.5)
Requirement already satisfied: cycler>=0.10 in /home/kaye/anaconda3/lib/python3.11/site-packages (from matplotlib<3.8,>=1.5->basemap) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in /home/kaye/anaconda3/lib/python3.11/site-packages (from matplotlib<3.8,>=1.5->basemap) (4.25.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /home/kaye/anaconda3/lib/python3.11/site-packages (from matplotlib<3.8,>=1.5->basemap) (1.4.4)
Requirement already satisfied: packaging>=20.0 in /home/kaye/anaconda3/lib/python3.11/site-packages (from matplotlib<3.8,>=1.5->basemap) (23.1)
Requirement already satisfied: pillow>=6.2.0 in /home/kaye/anaconda3/lib/python3.11/site-packages (from matplotlib<3.8,>=1.5->basemap) (9.4.0)
Requirement already satisfied: pyparsing<3.1,>=2.3.1 in /home/kaye/anaconda3/lib/python3.11/site-packages (from matplotlib<3.8,>=1.5->basemap) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in /home/kaye/anaconda3/lib/python3.11/site-packages (from matplotlib<3.8,>=1.5->basemap) (2.8.2)
Requirement already satisfied: certifi in /home/kaye/anaconda3/lib/python3.11/site-packages (from pyproj<3.7.0,>=1.9.3->basemap) (2023.11.17)
Requirement already satisfied: six>=1.5 in /home/kaye/anaconda3/lib/python3.11/site-packages (from python-dateutil>=2.7->matplotlib<3.8,>=1.5->basemap) (1.16.0)
Downloading basemap-1.3.8-cp311-cp311-manylinux1_x86_64.whl (861 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 861.7/861.7 kB 670.4 kB/s eta 0:00:00m eta 0:00:010:01:01
Downloading pyproj-3.6.1-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (8.6 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 8.6/8.6 MB 605.1 kB/s eta 0:00:00m eta 0:00:01[36m0:00:01
Installing collected packages: pyshp, pyproj, basemap
Successfully installed basemap-1.3.8 pyproj-3.6.1 pyshp-2.3.1
Note: you may need to restart the kernel to use updated packages.

In [8]:
def MapTemplate(plt_title):
  plt.figure(figsize=(10, 8))
  m1 = Basemap(llcrnrlon=-100.,llcrnrlat=0.,urcrnrlon=30.,urcrnrlat=57.,projection='lcc',lat_1=20.,lat_2=40.,lon_0=-60.,resolution ='l',area_thresh=1000.)    
  m1.drawcoastlines()
  m1.drawparallels(np.arange(10,70,10),labels=[1,1,0,0])
  m1.drawmeridians(np.arange(-100,0,10),labels=[0,0,0,1])
  plt.suptitle(plt_title, fontsize=16)
  return m1

In [9]:
def AllStormTracks(hurdat2):
  m1 = MapTemplate("Atlantic Hurricane Historical Storms (1851-2014)")
  UniqueStorms = df.NAME.unique()
  for stormid, track in df.groupby('NAME'):
      lat_storm = track.LAT.values
      lon_storm = track.LONG.values
      x1, y1 = m1(lon_storm,lat_storm)
      plt.plot(x1,y1,'r-',linewidth=0.5)
  plt.title('Total Number of Storms = '+ str(len(UniqueStorms)))

In [8]:
!conda config --add channels conda-forge
!conda config --set channel_priority strict
!conda install basemap

Retrieving notices: ...working... done
Collecting package metadata (current_repodata.json): / WARNING conda.models.version:get_matcher(556): Using .* with relational operator is superfluous and deprecated and will be removed in a future version of conda. Your spec was 1.7.1.*, but conda is ignoring the .* and treating it as 1.7.1
done
Solving environment: - ^C
\

In [10]:
AllStormTracks(df)

NameError: name 'Basemap' is not defined